
.vertical-grouping {
  display:flex;
  flex-direction: column;
  justify-content:center;
}

.temp-align{
  text-align: center;
}
h1 {
  color: black;
  text-align: center;
  padding: 25px;
}

#temperature,
.units {
  text-align: center;
  /* display: block; */
  font-size: 40px;
}

.currentTime {
  text-align: left;
  font-size: 25px;
  padding: 25px;
}

#weather-description {
  font-size: 25px;

}
.weather-grouping {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.weather-details {
  /* display: block; */
  /* padding: 0px 50px; */
  /* text-align: right; */
  /* top: 0px;
  right: 0px; */
  list-style-type: none;
}

.box {
  flex:1;
  display: flex;
  justify-content:center;
}


 #date {
  
  font-size: 22px;
  font-weight: bold;
} 



.search-form {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
}

.buttons-grouped {

  display: flex;
  justify-content:center;
  gap: 10px;
  border-radius: 15px;
  font-size: 20px;
  
 
}

#search-button {

  border-radius: 10px;
  padding: 10px;
  transition-duration:0.5s;
  transition: all 150ms ease-in-out

}

#search-button:hover {
 background-color: lightgray;
border:2px solid white;
  color:white;
 

}

#current-location-button {
border-radius: 10px;
padding: 10px;
transition-duration:0.5s;
transition: all 150ms ease-in-out

}

#current-location-button:hover {
  
background-color: lightgray;
border:2px solid white;
  color:white;
}
.weather-app-wrapper {
  
  border: 1px solid rgba(123, 115, 144, 0.3);
  border-radius: 20px;
box-shadow: -1px 4px 29px 1px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  max-width: 600px;
  min-width: 600px;
  
}

.git-connect {
  text-align: center;
}

.forecast-imgs {

  display: flex;
  flex-wrap: wrap;
  align-items:center;
  font-size: smaller;
}

.forecastItem {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
